*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}


.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

nav ul{
    display: flex; 
}
nav li{
    list-style: none;
    font-size: 16px;
}

nav li a{
    margin-right: 32px;
}

.nav-btn{
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 600;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
}
.nav-btn:hover{
    background-color: transparent;
    border: 1px solid #469165;
    color: #30B868;
}

#banner-section{
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    text-align: center;
    max-width: 900px;
}

.hero-container h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
}

.heading{
    color: #30B868;
}
.first{
    color: #469165;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-style: none;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 5px;
    
}

.second{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 32px;
    font-weight: 200;
}
 .hero-buttons{
    display: flex;
    justify-content: center;
 }
.hero-btn1{
    display: inline-flex;
    align-items: center;
    padding: 15px;
    gap: 5px;
    font-weight: 500;
    color: #FFFFFF;
    background-color:#3e9b64;
    border-style: none;
    border-radius: 5px;
}
.hero-btn1:hover{
    background-color:transparent;
    border: 1px solid white;
    color:#FFFFFF
}

.hero-btn2{
    color: #FFFFFF; 
    background-color: transparent;
    border: 1px solid white;
    padding: 16px 46px 16px 16px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.hero-btn2:hover{
    background-color: #30B868;
    border-style: none;
}


#notes-section {
    padding: 80px 0;
}

.card-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
}

.card{
    width: 322px;
    border-radius: 10px;      
    border: 1px solid #FFFFFF;  
    box-shadow: 1px 1px 5px rgb(228, 226, 226);
    text-align: center;
    padding: 40px 24px;
    
    
}

.note-img{
    background-color: #F95555;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 24px;
}

.notes-heading{
    text-align: center; 
    margin-bottom: 80px; 
}

.notes-heading h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
}
#notes-section p{
    font-size: 16px;
    color: #627382
}

.card h3{
    font-size: 24px;
    font-weight:600;
    margin-bottom: 12px;
    color: #151515;
}

.card p{
    text-align: center;
    width: 274px;
    margin: 0 auto;
}