
.inter-font{
  font-family: "Inter", sans-serif;
  font-weight:500;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

nav ul{
    display: flex; 
}
nav li{
    list-style: none;
    font-size: 16px;
}

nav li a{
    margin-right: 32px;
}

.nav-btn{
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 600;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
}

